@page
@{
    ViewData["Title"] = "Basic Form Elements";
}

<div class="container-fluid">
    <div class="section-heading">
        <h1 class="page-title">Basic Form Elements</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel-content">
                <h2 class="heading"><i class="fa fa-square"></i> Custom Checkboxes and Radio Buttons</h2>
                <div class="fancy-checkbox">
                    <label>
                        <input type="checkbox"><span>Fancy Checkbox 1</span>
                    </label>
                </div>
                <div class="fancy-checkbox">
                    <label>
                        <input type="checkbox" checked><span>Fancy Checkbox 2</span>
                    </label>
                </div>
                <div class="fancy-checkbox">
                    <label>
                        <input type="checkbox"><span>Fancy Checkbox 3</span>
                    </label>
                </div>
                <br>
                <label class="fancy-checkbox">
                    <input type="checkbox"><span>Fancy Checkbox 1</span>
                </label>
                <label class="fancy-checkbox">
                    <input type="checkbox" checked><span>Fancy Checkbox 2</span>
                </label>
                <label class="fancy-checkbox">
                    <input type="checkbox"><span>Fancy Checkbox 3</span>
                </label>
                <br>
                <label class="fancy-checkbox custom-bgcolor-green">
                    <input type="checkbox" checked><span>Fancy Checkbox 1</span>
                </label>
                <label class="fancy-checkbox custom-bgcolor-green">
                    <input type="checkbox"><span>Fancy Checkbox 2</span>
                </label>
                <label class="fancy-checkbox custom-bgcolor-green">
                    <input type="checkbox" checked><span>Fancy Checkbox 3</span>
                </label>
                <br>
                <label class="fancy-checkbox custom-color-green">
                    <input type="checkbox" checked><span>Fancy Checkbox 1</span>
                </label>
                <label class="fancy-checkbox custom-color-green">
                    <input type="checkbox"><span>Fancy Checkbox 2</span>
                </label>
                <label class="fancy-checkbox custom-color-green">
                    <input type="checkbox" checked><span>Fancy Checkbox 3</span>
                </label>
                <br>
                <br>
                <div class="fancy-radio">
                    <label>
                        <input name="gender" value="male" type="radio" checked><span><i></i>Male</span>
                    </label>
                </div>
                <div class="fancy-radio">
                    <label>
                        <input name="gender" value="female" type="radio"><span><i></i>Female</span>
                    </label>
                </div>
                <br>
                <label class="fancy-radio">
                    <input name="gender2" value="male" type="radio"><span><i></i>Male</span>
                </label>
                <label class="fancy-radio">
                    <input name="gender2" value="female" type="radio" checked><span><i></i>Female</span>
                </label>
                <br>
                <label class="fancy-radio custom-color-green">
                    <input name="gender3" value="male" type="radio" checked><span><i></i>Male</span>
                </label>
                <label class="fancy-radio custom-color-green">
                    <input name="gender3" value="female" type="radio"><span><i></i>Female</span>
                </label>
                <br>
                <label class="fancy-radio custom-color-green">
                    <input name="gender4" value="male" type="radio"><span><i></i>Male</span>
                </label>
                <label class="fancy-radio custom-color-green">
                    <input name="gender4" value="female" type="radio" checked><span><i></i>Female</span>
                </label>
            </div>
            <div class="panel-content">
                <h2 class="heading"><i class="fa fa-square"></i> Basic Inputs</h2>
                <div class="form-group">
                    <label class="control-label">Text Field</label>
                    <input type="text" class="form-control" placeholder="text field">
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" value="asecret">
                </div>
                <div class="form-group">
                    <label class="control-label">Textarea</label>
                    <textarea class="form-control" placeholder="textarea" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Select</label>
                    <select class="form-control">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                        <option value="pepperoni">Pepperoni</option>
                        <option value="onions">Onions</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Multiple</label>
                    <select multiple class="form-control">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                        <option value="pepperoni">Pepperoni</option>
                        <option value="onions">Onions</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Checkbox</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="item1"> Item 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="item2"> Item 2
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="item3"> Item 3
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="item1"> Item 1
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="item2"> Item 2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="item3"> Item 3
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">Radio Button</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radio" value="radio1"> Radio Item 1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radio" value="radio2"> Radio Item 2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radio" value="radio3"> Radio Item 3
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="radio radio-inline">
                        <input type="radio" name="radioinline" value="radio1"> Radio Item 1
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" name="radioinline" value="radio2"> Radio Item 2
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" name="radioinline" value="radio3"> Radio Item 3
                    </label>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile" class="control-label">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block"><em>Example block-level help text here.</em></p>
                </div>
                <div class="form-group">
                    <label class="control-label">Static Control</label>
                    <p class="form-control-static">email@example.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel-content">
                <h2 class="heading"><i class="fa fa-square"></i> Input Groups</h2>
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-primary" type="button">Go!</button></span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Go!</button>
                    </span>
                    <input class="form-control" type="text">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control" placeholder="Username" type="text">
                </div>
                <br>
                <div class="input-group">
                    <input class="form-control" placeholder="Username" type="text">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" type="text">
                    <span class="input-group-addon">.00</span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">@@</span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">.00</span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control">
                    <span class="input-group-addon">.00</span>
                </div>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <label class="fancy-checkbox">
                            <input type="checkbox"><span></span>
                        </label>
                    </span>
                    <input type="text" class="form-control">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <label class="fancy-checkbox custom-color-green">
                            <input type="checkbox" checked>
                            <span></span>
                        </label>
                    </span>
                    <input type="text" class="form-control">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <label class="fancy-checkbox custom-bgcolor-green">
                            <input type="checkbox" checked>
                            <span></span>
                        </label>
                    </span>
                    <input type="text" class="form-control">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="panel-content">
                <h2 class="heading"><i class="fa fa-square"></i> Input Sizing</h2>
                <input class="form-control input-lg" placeholder=".input-lg" type="text">
                <br>
                <input class="form-control" placeholder="Default input" type="text">
                <br>
                <input class="form-control input-sm" placeholder=".input-sm" type="text">
                <br>
                <select class="form-control input-lg">
                    <option value="cheese">Cheese</option>
                    <option value="tomatoes">Tomatoes</option>
                    <option value="mozarella">Mozzarella</option>
                    <option value="mushrooms">Mushrooms</option>
                    <option value="pepperoni">Pepperoni</option>
                    <option value="onions">Onions</option>
                </select>
                <br>
                <select class="form-control">
                    <option value="cheese">Cheese</option>
                    <option value="tomatoes">Tomatoes</option>
                    <option value="mozarella">Mozzarella</option>
                    <option value="mushrooms">Mushrooms</option>
                    <option value="pepperoni">Pepperoni</option>
                    <option value="onions">Onions</option>
                </select>
                <br>
                <select class="form-control input-sm">
                    <option value="cheese">Cheese</option>
                    <option value="tomatoes">Tomatoes</option>
                    <option value="mozarella">Mozzarella</option>
                    <option value="mushrooms">Mushrooms</option>
                    <option value="pepperoni">Pepperoni</option>
                    <option value="onions">Onions</option>
                </select>
            </div>
        </div>
    </div>
</div>
