@page
@{
    ViewData["Title"] = "Page Error 500";
    Layout = "_LayoutFullScr";
}
<body class="page-error">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <h1>
                    <span class="clearfix title">
                        <span class="number">500</span> <br>
                        <span>Internal Server Error</span>
                    </span>
                </h1>
                <p class="margin-bottom-30">
                    Apparently we're experiencing an error. But don't worry, we will solve it shortly.
                    <br>Please try after some time.
                </p>
                <p>
                    <a href="index" class="btn btn-primary"><i class="fa fa-home"></i> <span>Home</span></a>
                </p>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
</body>
