@page
@{
    ViewData["Title"] = "Page Error 400";
    Layout = "_LayoutFullScr";
}
<body class="page-error">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <h1>
                    <span class="clearfix title">
                        <span class="number left">404</span> <span class="text">Oops! <br />Page Not Found</span>
                    </span>
                </h1>
                <p>The page you were looking for could not be found, please <a href="#">contact us</a> to report this issue.</p>
                <div class="margin-top-30">
                    <a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-arrow-left"></i> <span>Go Back</span></a>
                    <a href="index" class="btn btn-primary"><i class="fa fa-home"></i> <span>Home</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
</body>
