@page
@{
    ViewData["Title"] = "Tabs";
}

<div class="container-fluid">
    <div class="section-heading">
        <h1 class="page-title">Tabs</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- BASIC TABS COLORED -->
            <ul class="nav nav-tabs nav-tabs-colored" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
                <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
                <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
                <li class="dropdown">
                    <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                        <li><a href="#dropdown1" tabindex="-1" data-toggle="tab">Dropdown Item 1</a></li>
                        <li><a href="#dropdown2" tabindex="-1" data-toggle="tab">Dropdown Item 2</a></li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content tab-content-colored">
                <div class="tab-pane fade in active" id="home">
                    <h5>Tab Home</h5>
                    <p>Phosfluorescently revolutionize viral leadership via turnkey technology. Synergistically monetize intermandated strategic theme areas through multimedia based.</p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <h5>Tab Profile</h5>
                    <p>Continually mesh resource sucking synergy before sustainable e-commerce. Efficiently incentivize leading-edge alignments with go forward expertise. Conveniently myocardinate leveraged process improvements through progressive models. Collaboratively.</p>
                </div>
                <div class="tab-pane fade" id="settings">
                    <h5>Tab Settings</h5>
                    <p>Dramatically supply adaptive imperatives and stand-alone content. Seamlessly pursue exceptional solutions after web-enabled potentialities. Synergistically negotiate alternative best practices whereas professional "outside the box" thinking. Completely expedite dynamic.</p>
                </div>
                <div class="tab-pane fade" id="dropdown1">
                    <h5>Tab Dropdown 1</h5>
                    <p>Phosfluorescently revolutionize viral leadership via turnkey technology. Synergistically monetize intermandated strategic theme areas through multimedia based.</p>
                </div>
                <div class="tab-pane fade" id="dropdown2">
                    <h5>Tab Dropdown 2</h5>
                    <p>Continually mesh resource sucking synergy before sustainable e-commerce. Efficiently incentivize leading-edge alignments with go forward expertise. Conveniently myocardinate leveraged process improvements through progressive models. Collaboratively.</p>
                </div>
            </div>
            <!-- END BASIC TABS COLORED -->
            <div class="margin-bottom-50"></div>
        </div>
        <div class="col-md-6">
            <!-- TABS PILL STYLE -->
            <ul class="nav nav-pills" role="tablist">
                <li class="active"><a href="#chart1" role="tab" data-toggle="tab"><i class="fa fa-pie-chart"></i> Pie Chart</a></li>
                <li><a href="#chart2" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i> Bar Chart</a></li>
                <li><a href="#chart3" role="tab" data-toggle="tab"><i class="fa fa-line-chart"></i> Line Chart</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="chart1">
                    <h5>Pie Chart</h5>
                    <p>Phosfluorescently revolutionize viral leadership via turnkey technology. Synergistically monetize intermandated strategic theme areas through multimedia based.</p>
                </div>
                <div class="tab-pane fade" id="chart2">
                    <h5>Bar Chart</h5>
                    <p>Continually mesh resource sucking synergy before sustainable e-commerce. Efficiently incentivize leading-edge alignments with go forward expertise. Conveniently myocardinate leveraged process improvements through progressive models. Collaboratively.</p>
                </div>
                <div class="tab-pane fade" id="chart3">
                    <h5>Line Chart</h5>
                    <p>Competently implement bricks-and-clicks collaboration and idea-sharing rather than visionary internal or "organic" sources. Rapidiously matrix premium core competencies for.</p>
                </div>
            </div>
            <!-- END TABS PILL STYLE -->
        </div>
    </div>
    <div class="margin-bottom-50"></div>
    <div class="row">
        <div class="col-md-6">
            <!-- BASIC TABS -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#home2" role="tab" data-toggle="tab">Home</a></li>
                <li><a href="#profile2" role="tab" data-toggle="tab">Profile</a></li>
                <li><a href="#settings2" role="tab" data-toggle="tab">Settings</a></li>
                <li class="dropdown">
                    <a href="#" id="myTabDrop12" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop12">
                        <li><a href="#dropdown11" tabindex="-1" data-toggle="tab">Dropdown Item 1</a></li>
                        <li><a href="#dropdown21" tabindex="-1" data-toggle="tab">Dropdown Item 2</a></li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home2">
                    <h5>Tab Home</h5>
                    <p>Phosfluorescently revolutionize viral leadership via turnkey technology. Synergistically monetize intermandated strategic theme areas through multimedia based.</p>
                </div>
                <div class="tab-pane fade" id="profile2">
                    <h5>Tab Profile</h5>
                    <p>Continually mesh resource sucking synergy before sustainable e-commerce. Efficiently incentivize leading-edge alignments with go forward expertise. Conveniently myocardinate leveraged process improvements through progressive models. Collaboratively.</p>
                </div>
                <div class="tab-pane fade" id="settings2">
                    <h5>Tab Settings</h5>
                    <p>Dramatically supply adaptive imperatives and stand-alone content. Seamlessly pursue exceptional solutions after web-enabled potentialities. Synergistically negotiate alternative best practices whereas professional "outside the box" thinking. Completely expedite dynamic.</p>
                </div>
                <div class="tab-pane fade" id="dropdown11">
                    <h5>Tab Dropdown 1</h5>
                    <p>Phosfluorescently revolutionize viral leadership via turnkey technology. Synergistically monetize intermandated strategic theme areas through multimedia based.</p>
                </div>
                <div class="tab-pane fade" id="dropdown21">
                    <h5>Tab Dropdown 2</h5>
                    <p>Continually mesh resource sucking synergy before sustainable e-commerce. Efficiently incentivize leading-edge alignments with go forward expertise. Conveniently myocardinate leveraged process improvements through progressive models. Collaboratively.</p>
                </div>
            </div>
            <!-- END BASIC TABS -->
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
